<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.PersonMapper">
 <resultMap id="personSet"  type="com.dto.Person" >
        <id column="p_id" property="p_id" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="age" property="age" />
        <result column="idNumber" property="idNumber" />
        <result column="telNumber" property="telNumber" />
         <result column="address" property="address" />
        <result column="attribute" property="attribute" />      
  </resultMap>

  <!-- 登录 -->
  <select id="checkPerson"  parameterType="String" resultMap="personSet">
  select * from person where 1=1 
<!--   and idNumber = #{idNumber}-->
  and name = #{name} 
  </select>
  
  <!-- 页面显示信息 -->
   <select id="getPerson"  parameterType="com.dto.Person" resultMap="personSet">
   select * from person  
   <!--  where idNumber=#{123}  -->
  order by p_id limit #{cursor},10
   </select>
      <!-- 显示个人信息 -->
     <select id="selectOneR"  parameterType="Integer" resultMap="personSet">
  select * from person where 1=1 
   and p_id = #{p_id}
  </select>
   <!-- 显示个人信息 -->
     <select id="selectOne"  parameterType="String" resultMap="personSet">
  select * from person where 1=1 
   and idNumber = #{idNumber}
  </select>
  <!-- 修改个人信息 -->
     <update id="update"  parameterType="com.dto.Person">
    update person set name=#{name},age=#{age}
	,telNumber=#{telNumber} ,address=#{address},attribute=#{attribute}
	 where idNumber = #{idNumber} ;
   </update>
  
   <!-- 删除信息 -->
   <delete  id="delete"  parameterType="com.dto.Person" >
   delete  from person where id = #{id};
   </delete>
   
  

   
   
   
   
  
  
  
</mapper>