
 body{      
        background: url(/GDTest/images/big_2.jpg);      
    /*
    background-size:cover;   
        background-repeat : repeat 
        background-size:100% 100%;
    */    

     }     


